<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="BCI" value="http://nuget-bci.hansoninc.local/nuget/" />
		<add key="Hanson Inc." value="http://nuget.hansoninc.local/nuget/" />
		<add key="Azure appservice MyGet" value="https://www.myget.org/F/azure-appservice/api/v3/index.json" />
	</packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>